<%# People who are your friends %>
<h2 class="container mx-auto mt-14 px-5 justify-center text-center w-2/4">Friends</h2>
<ul>
  <li>
      <% @approved_followers.each do |friend|%>
        <div class=" mt-8 container mx-auto mt-14 px-5 justify-center w-1/4  ">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <div class="ml-4 mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
              <div class="ml-4 mt-2">
                <h3 class="text-base font-semibold leading-6 text-gray-900"><%= friend.follower.email %></h3>
                <%= button_to 'Remove', decline_friendship_path(friend), :method => :delete, class: 'relative inline-flex items-center rounded-md bg-blue-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>
                <%= image_tag gravatar_for(friend.follower), alt: friend.follower, class: "h-12 w-12 flex-none rounded-full bg-gray-50" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </li>
</ul>